html,body{
  padding:0;
  margin:0;
  background: white;
}
.App {
  text-align: center;
}
.navbar-cntnr {
  display:inline-flex;
  padding:10px;
  width:100vw;
  height:10vh;
  background-color: lightblue;
  align-items: center;
  
}
.logo-cntnr{
position:absolute;
width: 7rem;
padding-left:2.5rem;


}
.links{
  position: absolute;
  left:0;
  top:30px;
}

li{
  list-style-type:none;
}